## Build artifacts
bin/
obj/
**/bin/
**/obj/

## IDE
.vs/
.vscode/
*.user
*.userprefs
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Maui specific (generated)
**/Resources/Raw/AboutAssets.txt

## Generated sources
generated/
**/generated/
